# Игнорируем виртуальное окружение
.venv/

# Игнорируем расшифровки (но не README)
transcripts/*
!transcripts/README.md

# Игнорируем аудио файлы (но не README)
audio/*
!audio/README.md

# Кеш и временные файлы
__pycache__/
*.pyc
*.pyo
*.log
temp_audio/

# Системные файлы macOS
.DS_Store

# Игнорируем папку с предобученными моделями
pretrained_models/

# Игнорируем файлы конфигурации среды разработки
.vscode/
.github/

# Игнорируем файлы логов обработки
processing.log.csv
