# Диаризация (Speaker Diarization)
simple-diarizer==0.0.13
speechbrain>=0.5.16
huggingface_hub<0.20

# Распознавание речи (ASR)
openai-whisper>=20240930

# Аудио-стек
torch==2.2.2
torchaudio==2.2.2
numpy<2.0
soundfile>=0.12.1

# Утилиты и поддержка
tqdm>=4.66.0
